@use "../../styles/partials/global" as *;
@use "../../styles/partials/mixins" as *;
@use "../../styles/partials/typography" as *;
@use "../../styles/partials/variables" as *;

.task-card {
  display: grid;
  grid-template-columns: 1fr 1fr 3fr;
  cursor: pointer;

  &:hover {
    .task-card__stars-icon {
      filter: $star-hover;
      box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    }

    .task-card__icon-caret {
      filter: opacity(1);
    }
  }

  &__stars-wrap {
    display: flex;
    flex-direction: row;
    gap: 0.5rem;
  }

  &__stars-icon {
    @include icon {
      transition: all 0.3s ease;
    }
  }

  &__icon-caret {
    @include icon {
      filter: opacity(0);
    }
  }
}
