@use "./variables" as *;
@use "./typography";
@use "./mixins" as *;

#root {
  font-family: "Reddit Mono", sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background-color: $white;
  color: $black;
  text-align: left;

  width: 100%;
  overflow: hidden;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  margin: 0;
}

input,
textarea,
select,
::placeholder {
  font-family: "Reddit Mono", sans-serif;
}

a,
label,
button {
  text-decoration: none;
}

html,
body,
h1,
h2,
h3,
h4,
p,
ul,
li,
input,
textarea {
  font-family: "Reddit Mono";
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  padding-block: 0;
  padding-inline: 0;
}
