$tablet-breakpoint: 768px;
$desktop-breakpoint: 1280px;

// Primary Colours
$black: #414A4C;
$green: #49796b;
$khaki: #c5afa0;
$brown: #9f8170;

// Secondary Colours
$mint: #94a187;
$pink: #e8bcb7;
$blue: #6082b6;

// Hover Colours
$mint-hover: #bdcfab;
$pink-hover: #c19b96;
$star-hover: invert(86%) sepia(17%) saturate(343%) hue-rotate(340deg)
  brightness(83%) contrast(82%);

// Background Colours
$white: #fff;
$light-grey: #f7f8f9;

// SVG colours
$svg-black: opacity(1);

// error colours
$error-red: #f88379;
