$tablet-breakpoint: 768px;
$desktop-breakpoint: 1280px;

// Primary Colours
$black: #353839;
$green: #29524a;
$khaki: #c5afa0;

// Secondary Colours
$mint: #94a187;
$pink: #e8bcb7;

// Hover Colours
$mint-hover: #bdcfab;
$pink-hover: #c19b96;

// Background Colours
$white: #fff;
$light-grey: #f7f8f9;


