@use "../../styles/partials/global" as *;
@use "../../styles/partials/mixins" as *;
@use "../../styles/partials/typography" as *;
@use "../../styles/partials/variables" as *;

.home {
  display: flex;
  flex-direction: row;
  justify-content: center;
  padding: 6rem 3rem;
  gap: 1.5rem;

  &-headers__wrap {
    display: flex;
    flex-direction: column;
    gap: .625rem;
  }
  &__header {
    color: $black;
  }
}

.actions__container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    column-gap: 1rem;
    row-gap: 1rem;
}
