@use "../../styles/partials/global" as *;
@use "../../styles/partials/mixins" as *;
@use "../../styles/partials/typography" as *;
@use "../../styles/partials/variables" as *;

.quick-action__card {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: $mint-hover;
  border-radius: 0.5rem;
  width: 20rem;
  height: 12rem;
  padding: 1rem;
  gap: 1rem;
  color: $black;
  transition: all 0.3s ease;
  cursor: pointer;

  img {
    width: 24px;
    height: 24px;
    transition: all 0.3s ease;
  }

  &:hover {
    background: $mint;
    color: $white;
    transform: scale(1.05);
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);

    img {
      width: 24px;
      height: 24px;
      transform: scale(1.05);
      filter: invert(1);
    }
  }

  &-title {
    display: flex;
    flex-direction: row;
  }
}
